css for prject body {
  margin: 0px;
  padding: 0px;
}
.logo {
  color: white;
}
.hamburger-icon {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}
.navbar-list {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid red; */
  list-style-type: none;
}
.navbar-list a {
  text-decoration: none;
  color: white;
}
.navbar-list a:hover {
  color: gray;
}
.header {
  background-color: #212529;
}

.hero-section {
  border: 3px solid black;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.box-one {
  border: 3px solid black;
  width: 60%;
  color: white;
  margin-left: 90px;
  margin-top: 50px;
}


.box-one h2 {
  font-size: 50px;
  font-weight: bold;
}
.box-one p {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

.btn-box {
  margin-top: 30px;
  /* display: flex;
justify-content:space-evenly; */
}
.btn-box button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
}

.btn-one {
  background-color: blue;
  color: white;
}
.btn-one:hover {
  background-color: rgb(7, 7, 217);
}
.btn-two:hover {
  background-color: white;
  color: black;
}
.btn-two {
  background-color: black;
  border: 2px solid white;
  color: white;
  margin-left: 25px;
}
.box-two {
  border: 3px solid blueviolet;
  width: 30%;
  height: 60%;
  margin-right: 90px;
  margin-top: 80px;
}

.box-two img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.hero-section1 {
  border: 3px solid red;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}

/* tablet responsive design */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar-list {
    display: none;
  }
  .hamburger-icon {
    display: block;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
  }
  .hamburger-icon-img {
    width: 100%;
    height: 100%;
  }
  .box-two {
    display: none;
  }
  .box-one {
    width: 100%;
    margin-right: 90px;
  }
  .btn-box {
    display: flex;
    border: 2px solid green;
    justify-content: center;
  }

  .box-one h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .box-one p {
    font-size: 25px;
    font-weight: bold;
    color: gray;
    text-align: center;
  }
  .btn-box button {
    font-size: 20px;
    width: 180px;
    height: 60px;
  }
}

/* tablet responsive design */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-list {
    display: none;
  }
  .navbar {
    margin-left: 30px;
    margin-right: 30px;
  }
  .hamburger-icon {
    display: block;
    margin-top: 15px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
  }
  .hamburger-icon-img {
    width: 100%;
    height: 100%;
  }
  .box-two {
    display: none;
  }
  .hero-section {
    height: 120vh;
  }
  .box-one {
    width: 80%;
    margin-right: 30px;
    margin-left: 30px;
    /* height: 30vh; */
  }
  .btn-box {
    display: flex;
    border: 2px solid green;
    height: 200px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .box-one h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .box-one p {
    font-size: 25px;
    font-weight: bold;
    color: gray;
    text-align: center;
  }
  .btn-box button {
    font-size: 20px;
    width: 180px;
    height: 60px;
  }
  .btn-two {
    margin-left: 0px;
  }
}
